<h1>User: <%= @user.email %></h1>
<div>
	<li>First Name: <%= @user.first_name%></li>
	<li>Last Name: <%= @user.last_name%></li>
	<li>
	Admin: <% if @user.admin%>
	Yes
	<%else%>No
	<%end%>
	</li>


	<%= link_to "Edit User", edit_user_path(@user)%>
	<%= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the user \"#{@user.email}?\""} %>
	<br>
</div>
<br>

<%= link_to "Back to Users", users_path%>
<br>
<%= link_to "<< Back to homepage of galleries", galleries_path %>