<h1>Gallery Title: <%= @gallery.title %></h1>
<p>Gallery Body: <%= @gallery.body %></p>
<%= link_to "Edit", edit_gallery_path(@gallery) %>
<br>
<%= link_to "Delete", gallery_path(@gallery), method: :delete, data: {confirm: "Are you sure you want to delete the gallery \"#{@gallery.title}?\""} %>
<br>
<%= link_to "<< Back to homepage of galleries", galleries_path %>