<div class = "gallery_info">
  <h1>Gallery Name: <%= @gallery.title %></h1>
  <p>Gallery About: <%= @gallery.body %></p>
</div>
<% if @gallery.attachments.exists? %>
<div class = "attachments">
  <h3>Attachments</h3>
  <%= render 'galleries/attachment', collection: @gallery.attachments %>
  <%end%>
</div>
<% if current_user %>
  <h3>Add an attachment to this gallery below</h3>
  <form id= "attachment_radio_buttons">
    <input type="radio" name="attachment_type" value="image">Image
    <input type="radio" name="attachment_type" value="video">Video</form>
    <%= render partial: 'attachments/form' %>
<%end%>
<br>
<br>
<% if current_user %>
<div class = "gallery_control_links">
  <%= link_to "Edit Gallery Info", edit_gallery_path(@gallery) %>
  <br>
  <%= link_to "Delete Gallery", gallery_path(@gallery), method: :delete, data: {confirm: "Are you sure you want to delete the gallery \"#{@gallery.title}?\""} %>
  <br>
</div>
<%end%>
<%= link_to "<< Back to homepage of galleries", galleries_path %>

<script>
  $( document ).ready(function() {  
  	$('.attachment_form').hide();
    });

  $('input:radio[name=attachment_type]').click(function() {
    var value = $(this).val();
    $('.attachment_form').show();
    switch (value) { 
    case 'image': 
        $('.image-upload').show();
        $('.video-upload').hide();

        break;
    case 'video':
      $('.video-upload').show();
      $('.image-upload').hide();

        break;
    	}
	});


</script>