<!DOCTYPE html>
<html>
<head>
  <title>DroneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>

<%= yield %>

<br>
<br>
<% if current_user%>
<div class = "loggedin_div">
	<%= current_user.email %>
	<%= link_to "Log out", logout_path, method: "delete" %> 
<% else %> 
	<!-- The code below would be applicable if you wanted to show the login/signup links when logged out, but for this site I do not want to-->
	<%#= link_to "Login", 'login' %> 
	<%#= link_to "Signup", 'signup' %>
</div>
<%end%>

</body>
</html>
